In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

C:\Users\HP\python app\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
data = pd.read_csv(r'D:\priya\traffic\TrafficTwoMonth.csv')

In [56]:
data.head()

,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,10,Tuesday,13,2,2,24,41,normal
1,10,Tuesday,14,1,1,36,52,normal
2,10,Tuesday,10,2,2,32,46,normal
3,10,Tuesday,10,2,2,36,50,normal
4,10,Tuesday,11,2,1,34,48,normal

In [57]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [89]:
X = data.iloc[:,:1].values  
y = data.iloc[:, -1]

In [90]:
X

array([[10],
       [10],
       [10],
       ...,
       [ 9],
       [ 9],
       [ 9]], dtype=int64)

In [91]:
y

0       normal
1       normal
2       normal
3       normal
4       normal
         ...
5947    normal
5948    normal
5949    normal
5950    normal
5951       low
Name: Traffic Situation, Length: 5952, dtype: object

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [94]:
clf = DecisionTreeClassifier()

In [95]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [96]:
y_pred = clf.predict(X_test)

In [97]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6237402015677491

In [107]:
new_data_predictions = clf.predict(data[['Date']])

C:\Users\HP\python app\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [108]:
print("Predictions for the new data:")
print(new_data_predictions)

Predictions for the new data:
['normal' 'normal' 'normal' ... 'normal' 'normal' 'normal']